extends base

//- block append head   
//-     script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js')

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Forgot the password
            form.form.form-forgot-password
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    button.btn.btn--green.btn-forgot-password Send 
