extends base

//- block append head   
//-     script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js')

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Reset your password
            h3 #{resetToken}
            form.form.form-reset-password
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='6')
                .form__group.ma-bt-md
                    label.form__label(for='passwordConfirm') Confirm Password
                    input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='6')
                .form__group
                    button.btn.btn--green Reset Password